.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .form-container {
    padding: 12px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* id card design */

.id-card {
  width: 420px;
  height: 265px;
  border: 3px solid #0a7f00;
  border-radius: 10px;
  padding: 12px;
  background: repeating-linear-gradient(
    45deg,
    #f4fff6,
    #f4fff6 10px,
    #ecf8ef 10px,
    #ecf8ef 20px
  );
  font-family: Arial, sans-serif;
}

/* HEADER */
.id-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.id-logo {
  width: 45px;
}

.id-title {
  text-align: center;
  flex-grow: 1;
}

.id-title h6 {
  margin: 0;
  font-weight: bold;
  color: #0a7f00;
}

.id-title small {
  font-size: 11px;
  color: #333;
}

#id-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* 👈 adjust opacity here */
  z-index: 1;
}

#id-content {
  position: relative;
  z-index: 2;
}
/* BODY */
.id-content {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.id-details {
  width: 65%;
  font-size: 11px;
}

.id-details .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.id-details span:first-child {
  font-weight: bold;
  color: #0a7f00;
}

/* PASSPORT */
.passport-wrapper {
  width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.passport {
  width: 80px;
  height: 95px;
  object-fit: cover;
  border: 2px solid #0a7f00;
  border-radius: 4px;
}

.register-btn {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}



